<a href="https://colab.research.google.com/github/mohamedyosef101/101_learning_area/blob/area/Time%20Series/Aileen%20Nielsen%20-%20PyCon%202017/01.%20Dates%20%26%20Times.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# Generate series of times

In [3]:
# specify with start date & number of periods
rng = pd.date_range('2016 Jul 15 10:15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31 10:15:00', '2016-08-31 10:15:00',
               '2016-09-30 10:15:00', '2016-10-31 10:15:00',
               '2016-11-30 10:15:00', '2016-12-31 10:15:00',
               '2017-01-31 10:15:00', '2017-02-28 10:15:00',
               '2017-03-31 10:15:00', '2017-04-30 10:15:00'],
              dtype='datetime64[ns]', freq='M')

### let's explore some of the other options for date_range
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html

In particular, let's take a look at 'normalize' and 'end'

In [4]:
rng = pd.date_range('2016 Jul 15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30'],
              dtype='datetime64[ns]', freq='M')

### Which of these formats DON'T work?
'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01'


#### You'll want to try this with pd.to_datetime

In [ ]:
# You may encounter the need to deal with European style formatted dates.
# In that case, you'll want to use pd.to_datetime

In [ ]:
# See the behavior with the following examples. Do you see the pattern?

In [5]:
pd.to_datetime('01/07/2016', dayfirst = True) == pd.to_datetime('01/07/2016', dayfirst = False)

False

In [6]:
pd.to_datetime('01-07-2016', dayfirst = True) == pd.to_datetime('01-07-2016', dayfirst = False)

False

In [7]:
pd.to_datetime('2016-01-07', dayfirst = True) == pd.to_datetime('2016-01-07', dayfirst = False)

True

# Timestamps
A specific point in time.

In [8]:
# add increasing detail
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [9]:
pd.Timestamp('2016-07-10 10:15:15')

Timestamp('2016-07-10 10:15:15')

### How much detail can you add?

### What are some properties of time stamps?
Hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components

In [11]:
t = pd.Timestamp('2016-07-10 10:15:15')

In [12]:
t.quarter

3

In [13]:
t = pd.Timestamp('2016-07-10 8 pm')
t

Timestamp('2016-07-10 20:00:00')

### How are time stamps lacking?

# Time offsets

In [14]:
pd.Timedelta('1 day 1us') # 'us' micro-second

Timedelta('1 days 00:00:00.000001')

In [16]:
pd.Timestamp('2016-07-01 8:00') + pd.Timedelta('1.5 hours')

Timestamp('2016-07-01 09:30:00')

In [17]:
pd.Timedelta('15ns') #bug? what kind of bug?

Timedelta('0 days 00:00:00.000000015')

In [18]:
rng + pd.Timedelta('1day')

DatetimeIndex(['2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01',
               '2016-12-01', '2017-01-01', '2017-02-01', '2017-03-01',
               '2017-04-01', '2017-05-01'],
              dtype='datetime64[ns]', freq=None)

# Time spans

In [19]:
p = pd.Period('2016-07')
t = pd.Timestamp('2016-07-21')
p.start_time < t and p.end_time > t

True

In [20]:
rng = pd.period_range('2016-01-01 12:15', freq = 'H', periods = 10)
rng

PeriodIndex(['2016-01-01 12:00', '2016-01-01 13:00', '2016-01-01 14:00',
             '2016-01-01 15:00', '2016-01-01 16:00', '2016-01-01 17:00',
             '2016-01-01 18:00', '2016-01-01 19:00', '2016-01-01 20:00',
             '2016-01-01 21:00'],
            dtype='period[H]')

In [21]:
rng = pd.period_range('2016-01-01 12:15', freq = '60T', periods = 10)
# 60T: 60 minutes

rng

PeriodIndex(['2016-01-01 12:15', '2016-01-01 13:15', '2016-01-01 14:15',
             '2016-01-01 15:15', '2016-01-01 16:15', '2016-01-01 17:15',
             '2016-01-01 18:15', '2016-01-01 19:15', '2016-01-01 20:15',
             '2016-01-01 21:15'],
            dtype='period[60T]')

In [22]:
rng = pd.period_range('2016-01-01 12:15', freq = '1H', periods = 10)
rng

PeriodIndex(['2016-01-01 12:00', '2016-01-01 13:00', '2016-01-01 14:00',
             '2016-01-01 15:00', '2016-01-01 16:00', '2016-01-01 17:00',
             '2016-01-01 18:00', '2016-01-01 19:00', '2016-01-01 20:00',
             '2016-01-01 21:00'],
            dtype='period[H]')

### How can you determine whether a timestamp falls within a given period?

In [24]:
p = pd.Period('2016-07')
p.start_time
p.end_time

Timestamp('2016-07-31 23:59:59.999999999')

### Try out some other functionality with different offset-aliases. Anything interesting?

### How can you make a pandas Time Series with these aliases?

In [25]:
num_periods = 40
ts_pd = pd.Series(range(num_periods), pd.period_range('2016-07-01 11:15', freq = '60T', periods = num_periods))

In [26]:
ts_pd['2016-7-1 11':'2016-7-1 13']

2016-07-01 11:15    0
2016-07-01 12:15    1
2016-07-01 13:15    2
Freq: 60T, dtype: int64

### How can we index a time series with a date_range?

In [27]:
num_periods = 40
ts_dt = pd.Series(range(num_periods), pd.date_range('2016-07-01 11:15', freq = '60T', periods = num_periods))

### What are the use cases for a series with a DateTimeIndex vs a PeriodIndex? Where will we see a difference?

In [28]:
ts_dt['2016-7-1 11']

2016-07-01 11:15:00    0
Freq: 60T, dtype: int64

### How can we convert between a DateTimeIndex and a PeriodIndex?

In [29]:
ts_dt.to_period()
ts_pd.to_timestamp()

2016-07-01 11:15:00     0
2016-07-01 12:15:00     1
2016-07-01 13:15:00     2
2016-07-01 14:15:00     3
2016-07-01 15:15:00     4
2016-07-01 16:15:00     5
2016-07-01 17:15:00     6
2016-07-01 18:15:00     7
2016-07-01 19:15:00     8
2016-07-01 20:15:00     9
2016-07-01 21:15:00    10
2016-07-01 22:15:00    11
2016-07-01 23:15:00    12
2016-07-02 00:15:00    13
2016-07-02 01:15:00    14
2016-07-02 02:15:00    15
2016-07-02 03:15:00    16
2016-07-02 04:15:00    17
2016-07-02 05:15:00    18
2016-07-02 06:15:00    19
2016-07-02 07:15:00    20
2016-07-02 08:15:00    21
2016-07-02 09:15:00    22
2016-07-02 10:15:00    23
2016-07-02 11:15:00    24
2016-07-02 12:15:00    25
2016-07-02 13:15:00    26
2016-07-02 14:15:00    27
2016-07-02 15:15:00    28
2016-07-02 16:15:00    29
2016-07-02 17:15:00    30
2016-07-02 18:15:00    31
2016-07-02 19:15:00    32
2016-07-02 20:15:00    33
2016-07-02 21:15:00    34
2016-07-02 22:15:00    35
2016-07-02 23:15:00    36
2016-07-03 00:15:00    37
2016-07-03 01:15:00    38
2016-07-03 02:15:00    39
Freq: H, dtype: int64

# Try

(1) How can you create a pd.Timestamp with a European style formatted date string? hint: dayfirst flag

(2) How can you generate string representation in a desired format from a pd.Timestamp?

In [30]:
t1 = pd.to_datetime('2016-06-18 12:15pm', dayfirst = True).strftime(format = '%Y/%M/%D')

t2 = pd.Timestamp('2016-06-18 12:15pm').strftime(format = '%Y/%M/%D')